<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
	<link rel="icon" href="/assets/img/burger-img.png" type="image/x-icon">
	<title>It's Burger Time!</title>
</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo right">Logo</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="sass.html">Sass</a></li>
				<li><a href="badges.html">Components</a></li>
				<li><a href="collapsible.html">JavaScript</a></li>
			</ul>
		</div>
	</nav>

	{{{ body }}}


	<footer id="footer">
		<div class="container">
			Made by Christina Moss in 2021
			<a class="right footer-link" href="https://github.com/cmoss703/burger-time">Github
				Repo</a>

		</div>
	</footer>

	<script src="/assets/js/burgertime.js"></script>
</body>

</html>